<p>Ask your coach anything</p>
<div class="container">
  <form action="/answer" method="GET" data-turbo="false" >
    <div class="form-group">
      <label for="answer">The question</label>
      <input type="text" name="answer" class="form-control" placeholder="Enter question">
      <small class="form-text text-muted">No silly questions please</small>
    </div>
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
